  <% @results.each do |result| %>
    <div class="result" id="<%= result.id %>">
      <input type="checkbox"  <%= result.is_good ? "checked" : "" %>>
      Context: <%= result.snippet %>
      <br/>
      File: <%= result.book.file %>
      <br/>
      Titles are forthcoming.
      <br/>
      <br/>
    </div>
  <% end %>
